name: Metrics
on:
  schedule:
    - cron: "0 6 * * *" # daily
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: arboydev27
          filename: github-metrics.svg
          config_display: large
          template: classic

          # Good “creative but clean” modules
          base: header, activity, community, repositories
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8
          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_days: 14
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
